body {
	background-color: black;
}

@font-face {
	font-family: 'dollyrom';
  	src: url('DollyRom.woff') format('woff');
  	font-style: normal;
}

.headline {
	color: white;
	font-family: upgrade, sans-serif;
	text-align: center;
}

h1 {
	font-weight: 600;
	font-style: italic;
	font-size: 5vw;
}

h2 {
	font-weight: 500;
	font-style: normal;
	font-size: 1.5vw;
	margin-top: -3.7vw;
	margin-bottom: 3vw;
}

.text {
	color: white;
	font-family: dollyrom, serif;
	font-weight: 500;
	font-style: normal;
	font-size: 1.2vw;
}

.row {
	display: flex;
	justify-content: center;
}

.col {
	width: 30%;
	padding-left: 1.5vw;
	padding-right: 1.5vw;
	text-align: justify;
}

.image {
	display: flex;
	justify-content: center;
}

.img {
	width: 63vw;
	padding: 2vw;
}

.img2 {
	width: 10vw;
	padding-bottom: 8vw; 
}

.quote {
	color: white;
	font-family: dollyrom, serif;
	font-weight: 500;
	width: 40vw;
	font-size: 1.2vw;
	text-align: center;
	padding: 1vw;
}

.quote2 {
	width: 60vw;
	font-size: 3.5vw;
	text-align: center;
	position: relative;
	top: 35vw;
}

.grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-gap: 1.5vw;
  margin-left: 5vw;
  margin-right: 5vw;
  padding: 1.5vw;
  position: relative;
  top: 5vw;
}

.box1 {
  border: 0.2vw solid white;
  height: 9.5vw;
  padding: 1vw;
}

.box2 {
  border: 0.2vw solid white;
  height: 9.5vw;
  padding: 1vw;
}

.box3 {
  border: 0.2vw solid white;
  height: 9.5vw;
  padding: 1vw;
}

.boxtext {
	color: white;
	font-family: dollyrom, serif;
	font-weight: 500;
	font-style: normal;
	font-size: 1.2vw;
	text-align: center;
	padding: 2vw;
	position: relative;
}


@media (max-width: 800px) {
	h1 {
		font-weight: 600;
		font-style: italic;
		font-size: 3rem;
	}
	h2 {
		font-weight: 500;
		font-style: normal;
		font-size: 0.9rem;
		margin-top: -30px;
	}
  	.text {
  		font-size: 1rem;
  	}
  	.row {
  		display: inline-block;
  		padding-left: 5vw;
  		padding-right: 5vw;
  	}
  	.col {
  		width: 100%;
  	}
  	.quote {
  		width: 100%;
		font-size: 0.8rem;
		text-align: center;
		padding: 1vw;
  	}
  	.img {
  		width: 85vw;
  	}
  	.grid {
  		display: grid;
  		grid-template-columns: 1fr;
  		grid-row-gap: 15px;
  	}
  	.box1 {
  		height: 130px;
  	}
  	.boxtext {
  		font-size: 1rem;
  	}
  	.quote2 {
  		position: relative;
  		left: 13vw;
  	}
}